<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/categories.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
   
    <title><%= title %></title>
</head>
<body> 
  <%- include('partials/header') %>
  <div class="container">
    <!-- Sexual Offence -->
    <div id="SexualOffence">
      <h2 id="0C">Sexual Offence Laws</h2> <br>
      <div class="row" style="margin-bottom: 30px;">
          <%sexualAssaultCategoriesList.forEach(function(sexualAssaultCategory){%>
            <div class="col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 15px;" >
              <a href="/sexual-assault/<%=sexualAssaultCategory.title%>" onclick="">
                <div class="category-tile">
                  <img src="<%=sexualAssaultCategory.image%>" class="rounded float-left images" alt="<%=sexualAssaultCategory.title%> Image"  >
                  <span>
                    <%=sexualAssaultCategory.title%> Laws</span>
                   <% console.log("length:", sexualAssaultCategory.title.length) %> 
                </div>
              </a>
            </div>
          <%})%>
        </div>      
        
    <!-- CyberCrimes -->

    <div id="CyberCrimes">
      <h2 id="2C">Cyber Crime Laws</h2> <br>
      <div class="row" style="margin-bottom: 50px;">
        <%cyberLawCategoryList.forEach(function(cyberLawCategory){%>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <a href="/cyber-law/<%=cyberLawCategory.title%>" onclick="">     
                <div class="category-tile">
                      <img src="<%=cyberLawCategory.image%>" class="rounded float-left images" alt="<%=cyberLawCategory.title%>" >
                      <span><%=cyberLawCategory.title%></span>
                    </div>
                  </a>
                </div>
              <%})%>
            </div>
        </div>
    </div>
<!-- 
    <div id="CyberCrimes">
        <h2 id="2C">Cyber Crime Laws</h2> <br>
        <div class="row" style="margin-bottom: 50px;">
            <%for(let i =0; i <=2; i++){%>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="/" onclick="">     
                  <div class="category-tile">
                        <img src="/images/rape.jpg" class="rounded float-left images" alt="rape"  >
                        <span>Sexual Assault Laws</span>
                      </div>
                    </a>
                  </div>
                <%}%>
              </div>
          </div>
      </div> -->
      <hr>
    <div id="DomesticViolence">
        <h2 id="1C">Domestic Violence Law</h2> <br>
            <div class="row" style="margin-bottom: 50px;">
                <%for(let i =0; i <=0; i++){%>
                    <div class="col-md-4 col-sm-6 col-xs-12 " style="width: 75%; height: 200px;
                    margin: 0 auto 15px; ">
                        <a href="/single-category" onclick="">
                        <div class="category-tile">
                           <img src="/images/domesticViolence.jpg" class="rounded float-left images" alt="domesticViolence"  >
                            
                            <span>Domestic Violence Law</span>
                          </div>
                        </a>
                      </div>
                    <%}%>
                </div>
              </div>
          </div>
          <%- include('partials/footer') %>
  </body>
</html>  