<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/searchCard.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title></title>
</head>
<body>
    <%- include('partials/header') %>
    <div class="container">
    <div class="row">
      <%searchCardList.forEach(function(searchCard){ %>
          <div class="card" style="width: 80%; margin: 10px auto">
            <div class="card-body">
              <h5 class="card-title"><%=searchCard.title%></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%=searchCard.actName%></h6>
              <p class="card-text"><%=searchCard.description%></p>
              <h6 class="card-subtitle mb-2 text-muted">Tags:
                <%for(let i =0; i<(searchCard.tags.length); i++){%>
                  <span class="badge badge-secondary"><%=searchCard.tags[i]%></span>
                <%}%>
              </h6>
              <a href="<%=searchCard.link%>" class="card-link">Read More</a>
            </div>
          </div>
        <%})%>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>