<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/searchCard.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title></title>
</head>
<body>
    <%- include('partials/header') %>
    <div class="container">
    <div class="row">
      <%if(searchCardList.length == 0){%>
        <div class="errorText">Sorry, no result found! Please try again using a different keyword.</div>
      <%}else{%> 
        <%searchCardList.forEach(function(searchCard){ %>
          <%for(let i =0; i<searchCard.length; i++){%>
            <div class="card" style="width: 80%; margin: 10px auto">
              <div class="card-body">
                <h5 class="card-title"><%=searchCard[i].title%></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%=searchCard[i].actName%></h6>
                <p class="card-text"><%=searchCard[i].description%></p>
                <a href="<%=searchCard[i].link%>" class="card-link">Read More</a>
              </div>
            </div>
            <%}%>
          <%})%>
        <%}%>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>