<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/singleCategory.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  </head>
  <body>
    <%- include('partials/header') %>
      <div class="container indv-main-div">
        <div class="mainLawList">
          <h2><%=singleCategory.title%> Laws</h2>
          <button class="collapsibles"><%=singleCategory.definition[0].title%></button>
            <div class="content">
              <p> According to the <strong><%=singleCategory.actName%></strong>,
                <ol>
                <%for(let i =1; i<singleCategory.definition.length; i++){%>
                  <%if(i != 4){%> 
                  <li><strong> <%=singleCategory.definition[i].title%></strong> <%=singleCategory.definition[i].text%></li>
                  <br>
                  <%}else{%>
                    <blockquote><i><%=singleCategory.definition[i].text%></i></blockquote></li>
                    <%}%>
                <%}%>
                </ol>
                </p>
            </div>
            <button class="collapsibles"><%=singleCategory.lawText[0]%></button>
            <div class="content">
                <p>
                  <ol>
                    <%for(let i =1; i<singleCategory.lawText.length; i++){%>
                      <li><%=singleCategory.lawText[i]%></li>
                      <br>
                    <%}%>
                    </ol>
                </p>
            </div>
            <button class="collapsibles"><%=singleCategory.filingComplaintText[0]%></button>
                <div class="content">
                  <p>
                    <ol>
                      <%for(let i =1; i<(singleCategory.filingComplaintText.length-2); i++){%>
                        <li><%=singleCategory.filingComplaintText[i]%></li>
                        <br>
                      <%}%>
                      </ol>
                        <%=singleCategory.filingComplaintText[singleCategory.filingComplaintText.length-2]%>
                        <br><br>
                        <strong><%=singleCategory.filingComplaintText[singleCategory.filingComplaintText.length-1]%></strong>
                      </p>
                    </div>
                <button class="collapsibles"><%=singleCategory.protectionText[0]%></button>
                <div class="content">
                  <p>
                    <ol>
                      <li>
                        <%=singleCategory.protectionText[1]%>
                      </li>
                      <br>
                      <ol type="a">
                        <%for(let i =2; i<(singleCategory.protectionText.length-1); i++){%>
                          <li> <%=singleCategory.protectionText[i]%></li>
                          <br>
                        <%}%>
                      </ol>
                      <li>
                        <%=singleCategory.protectionText[singleCategory.protectionText.length-1]%>
                      </li>
                    </ol>
                  </p>
                </div>
                <button class="collapsibles"><%=singleCategory.cameraText[0]%></button>
                <div class="content">
                  <p>
                    <ol>
                      <%for(let i =1; i<(singleCategory.cameraText.length); i++){%>
                        <li> <%=singleCategory.cameraText[i]%></li>
                        <br>
                      <%}%>
                    </ol>
                  </p>
            </div>
            <button class="collapsibles"> <%=singleCategory.perpetratorExpensesText[0]%></button>
                <div class="content">
                  <p>
                    <ol>
                      <%for(let i =1; i<(singleCategory.perpetratorExpensesText.length); i++){%>
                        <li> <%=singleCategory.perpetratorExpensesText[i]%></li>
                        <br>
                      <%}%>
                    </ol>
                </p>
            </div>
            <button class="collapsibles"><%=singleCategory.compensationText[0]%></button>
                <div class="content">
                  <p><%=singleCategory.compensationText[1]%></p>
            </div>
            <button class="collapsibles"><%=singleCategory.serviceCentreText[0]%></button>
                <div class="content">
                  <p>
                    <ol>
                      <%for(let i =1; i<(singleCategory.serviceCentreText.length); i++){%>
                        <li> <%=singleCategory.serviceCentreText[i]%></li>
                        <br>
                      <%}%>
                    </ol>
                  </p>
            </div>
            <button class="collapsibles"><%=singleCategory.serviceFundText[0]%></button>
            <div class="content">
              <p>
                <ol>
                  <li>
                    <%=singleCategory.serviceCentreText[1]%>
                  </li>
                  <br>
                  <li>
                    <%=singleCategory.serviceCentreText[2]%>
                  </li>
                  <ol type="a">
                    <%for(let i =3; i<(singleCategory.serviceFundText.length-1); i++){%>
                      <li> <%=singleCategory.serviceFundText[i]%></li>
                      <br>
                    <%}%>
                  </ol>
                  <br>
                  <li>
                    <%=singleCategory.serviceFundText[singleCategory.serviceFundText.length-1]%>
                  </li>
                </ol>
              </p>
            </div>
            <button class="collapsibles"><%=singleCategory.penaltyText[0]%></button>
            <div class="content">
              <p>
                <ol>
                  <%for(let i =1; i<(singleCategory.penaltyText.length); i++){%>
                    <li> <%=singleCategory.penaltyText[i]%></li>
                    <br>
                  <%}%>
                </ol>
              </p>
            </div>
            <button class="collapsibles"><%=singleCategory.limitation[0]%></button>
            <div class="content">
              <p><%=singleCategory.limitation[1]%></p>
            </div>
            <button class="collapsibles"><%=singleCategory.organization[0].title%></button>
            <div class="content">
              <p>
                <ol style="list-style-type: none;">
                  <%for(let i =1; i<(singleCategory.organization.length); i++){%>
                    <li>
                      <a href="<%=singleCategory.organization[i].link%>" id="orgLinks"> <%=singleCategory.organization[i].title%></a>  
                    </li>
                    <br>
                  <%}%>
                </ol>
              </p>
            </div>
        </div>
          <script>
            var coll = document.getElementsByClassName("collapsibles");
            for (let i = 0; i < coll.length; i++) {
              coll[i].addEventListener("click", function() {
                this.classList.toggle("activeNow");
                var content = this.nextElementSibling;
                if (content.style.maxHeight){
                  content.style.maxHeight = null;
                } else {
                  content.style.maxHeight = content.scrollHeight + "px";
                } 
              });
            }
          </script>            
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
